/*For header with video*/
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.nonHeader{
    height: 75px;
    background-color: #F0F7D4;
}

/* Media Query for devices within coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

/*For navbar*/
.navbar2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logoNavbar{
    padding: 5px 20px;
}

.logoNavbarImg{
    width: 45px;
    height: 55px;
    margin: 0.5rem 1rem;
}

.navbarSemiTransparent{
    background-color: rgba(7, 21, 38, 0.25);
    opacity: 1;
    transition: background-color 1000ms;
}
.navbarTransparent{
    background-color: rgb(7, 21, 38);
    opacity: 0;
}

.navbarNonTransparent{
    background-color: rgb(7, 21, 38);
    opacity: 1;
    transition: opacity 100ms;
}

/*Underline animation*/

.underline {
    position: relative;
}

.underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #F0F7D4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underline:hover::before {
    transform: scaleX(1);
}

/*DropDown Menu*/

.dropdown-menu{
    background-color: rgba(7, 21, 38, 0.25);
    transition: background-color 1000ms;
}

.dropdown-menuTransparent{
    background-color: rgba(7, 21, 38, 0);
}

.dropdown-menuNonTransparent{
    background-color: rgb(7, 21, 38);
}

/*Body*/

.realBody{
    position: relative;
    z-index: 1040;
    background-color: #F0F7D4;
}

/*Login*/

.blue-button{
    background-color: transparent;
    color: white;
    border-color: #347B98;
}

.blue-button:hover{
    background-color: #347B98;
    color: white;
    border-color: #347B98;
}

/*about us*/
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

#aboutUs:hover > .subtitles::before {
    visibility: visible;
    width: 100%;
}

.subtitles {
    position: relative;
}

.subtitles::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #347B98;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

/*information*/

#Information:hover > .subtitles::before{
    visibility: visible;
    width: 100%;
}

/*footer*/

footer{
    background-color: #092834;
}

footer a{
    color: #F0F7D4;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer a:hover{
    color: #B2D732;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer p{
    color: #F0F7D4;
}

.fa{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 36px;
    color: #F0F7D4;
}

.fa:hover{
    color: #B2D732;
}

/*Register*/
section{
    background-color: #F0F7D4;
}

.blue-button-black{
    background-color: #66B032;
    border-color: #66B032;
}

.blue-button-black:hover{
    background-color: #347B98;
    color: white;
    border-color: #347B98;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}